html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}

.common__container {
   max-width: 940px;
   margin: 0 auto;
}

/* Values that used a lot of times */

:root {
   --text__color: #48555B;
   --light__blue: #00A4E5;
   --dark__blue: #141A20;
   --almost__black: #171819;
}

.text-h2 {
   color: #48555B;
   font-family: "Open Sans", sans-serif;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 2.306px;
}

.text-p {
   color: #48555B;
   font-family: "Open Sans", sans-serif;
   font-size: 13px;
   font-weight: 400;
   line-height: 23px;
   letter-spacing: 0.188px;
}

.button {}

.button__inner {
   color: #FFF;
   font-size: 13px;
   font-weight: 700;
   letter-spacing: 0.5px;
   text-transform: uppercase;
   background-color: var(--light__blue);
   border: none;
   width: 150px;
   height: 40px;
   cursor: pointer;
}

.button__inner:hover {
   background-color: #106884;
   transition: .3s all;
}

/* Values that used a lot of times */

/* Coding style for header start */

.header {
   min-height: 800px;
   background-image: url(../img/main__bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.header__container-inner {
   text-align: center;
}

.header__container-logo {
   padding-top: 41px;
   margin-bottom: 317px;
}

.header__container-center-main {
   color: #FFF;
   font-family: Bebas Neue;
   font-size: 60px;
   font-weight: 400;
   letter-spacing: 5.709px;
   margin-bottom: 21px;
}

.header__container-center-text {
   color: white;
   font-weight: 600;
   font-size: 16px;
   margin-bottom: 221px;
}

.header__container-bottom-text {
   color: #FFF;
   font-size: 11px;
   font-weight: 600;
   letter-spacing: 3.7px;
}

/* Coding style for header end */


/* Coding style for section__nav start */

.nav {
   height: 65px;
   border-bottom: 1px solid #E6E6E6;
   padding-top: 5px;
   margin-bottom: 57px;
}

.nav__container-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__container-value {
   display: flex;
}

.nav__container-value {
   list-style: none;
}

.nav__container-contain a {
   text-decoration: none;
   color: var(--text__color);
   text-align: center;
   font-size: 12px;
   font-weight: 600;
   letter-spacing: 1.091px;
}

.nav__container-contain a:hover {
   color: var(--light__blue);
   font-size: 12px;
   letter-spacing: 1.091px;
}

.nav__container-contain {
   margin-right: 40px;
}

.nav__container-contain:last-child {
   margin-right: 0;
}

/* Coding style for section__nav end */

/* Coding styles for main section start */

.main {}

.story__container {
   margin-bottom: 128px;
}

.story__main-all {
   text-align: center;
}

.story__main-title-text {
   margin-bottom: 10px;
}

.story__main-title-line {
   width: 50px;
   height: 2px;
   background-color: var(--light__blue);
   margin: auto;
   margin-bottom: 80px;
}

.story__content {
   display: flex;
}

.story__text {
   margin-right: 80px;
}

.story__main-title-second-text {
   color: var(--text__color);
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.188px;
   max-width: 405px;
   margin-bottom: 30px;

}

span {
   color: var(--light__blue);
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.17px;
}

.story__main-text {
   max-width: 405px;
}

.story__cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 19px;
}

.story__card_1 {
   background-image: url(../img/first__card-picture.png);
   background-repeat: no-repeat;
   height: 224px;
   width: 140px;
}

.story__card_2 {
   background-image: url(../img/second__card-picture.png);
   background-repeat: no-repeat;
   height: 224px;
   width: 140px;
}

.story__card_3 {
   background-image: url(../img/third__card-picture.png);
   background-repeat: no-repeat;
   height: 224px;
   width: 140px;
}

.story__card-text {
   color: #FFF;
   font-size: 24px;
   font-weight: 800;
   line-height: 29px;
   letter-spacing: 0.188px;
   max-width: 30px;
   margin-left: 14px;
   margin-top: 23px;
}

/* Coding styles for main section start */

/* Coding for styles with cap start */

.cap__container-first-block {
   display: flex;
   justify-content: space-between;
   margin-bottom: 80px;
}

.cap__container-first-block-p {
   color: var(--text__color);
   font-size: 11px;
   line-height: 19px;
   letter-spacing: 0.2px;
   max-width: 405px;
   margin-left: 135px;
   margin-right: 31px;

}

.story__main-title-line-2 {
   width: 50px;
   height: 2px;
   background-color: var(--light__blue);
}

.cap__container-cards {
   display: flex;
   justify-content: space-between;
}

.cap__container-card {
   border: 1px solid #E6E6E6;
   background: #FFF;
   width: 295px;
   height: 330px;
   padding-top: 38px;
   padding-left: 29px;
   padding-bottom: 39px;
   margin-bottom: 110px;
}

.cap__container-title {
   color: var(--text__color);
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 0.427px;
   margin-top: 25px;
   margin-bottom: 13px;
   max-width: 250px;
}

.cap__container-text {
   max-width: 250px;
}

/* Coding for styles with cap start */

/* Coding for styles main background start */

.build {
   background-image: url(../img/new.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 498px;
   padding-top: 120px;
}

.build__container-title {
   text-align: center;
}

.build__container-title {
   color: #48555B;
   font-size: 30px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0.15px;
   max-width: 350px;
   margin: 0 auto;
   margin-bottom: 35px;
}

.second__one {
   display: flex;
   justify-content: center;
}

/* Coding for styles main background end */

/* Coding for styles input start */

.input {
   height: 100px;
   background-color: var(--almost__black);
}

.input__container {
   display: flex;
   justify-content: center;
   padding-top: 30px;
}

.input__container-title {
   color: #FFF;
   font-size: 22px;
   font-weight: 700;
   letter-spacing: 0.846px;
}

.search {
   display: flex;
   margin-left: 70px;
}

.input__container-input {
   width: 250px;
   padding-left: 16px;
   border: none;
}

/* Coding for styles input end */

/* coding first footer start */

.footer {
   height: 250px;
   background-color: var(--dark__blue);
   padding-top: 42px;
   padding-bottom: 48px;
}

.footer__flex {
   display: flex;

}

.footer__title {
   color: #FFF;
   font-size: 11px;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.846px;
   margin-bottom: 19px;
}

.footer__flex-first-p {
   color: #FFF;
   font-size: 11px;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0.85px;
   padding-top: 15px;
   max-width: 600px;
   max-height: 76px;
}

.footer__flex-link {
   margin-left: 71px;
   margin-right: 58px;
}

.footer__flex-link-block {
   display: flex;
}

.footer__flex-link-block-first {
   margin-right: 34px;
}

.footer__flex-link-block-second {
   margin-right: 38px;
}

.footer__flex-link-title {
   margin-left: 38px;
}

.footer__flex-link-block ul {
   list-style: none;
}

.footer__flex-link-block li a {
   text-decoration: none;
   list-style: none;
   color: #FFF;
   font-size: 11px;
   font-weight: 600;
   line-height: 25px;
   letter-spacing: 0.846px;
}

.footer__flex-link-block li a:hover {
   color: var(--light__blue);
   transition: all .3s;
}

.footer__flex-contact {
   color: #FFF;
   font-size: 11px;
   line-height: 16px;
   letter-spacing: 0.846px;
   margin-right: 46px;
}

.text-first {
   max-width: 141px;
}

.text-second {
   padding-top: 20px;
   margin-bottom: 20px;
}

.footer__flex-icons-flex {
   display: flex;
   padding-top: 35px;
}


.image__twitter {
   padding-left: 25px;
   padding-right: 25px;
}

/* coding first footer start */


/* coding last footer start */

.l-footer {
   height: 60px;
   background-color: var(--almost__black);
}

.l-footer__p {
   color: #FFF;
   font-size: 11px;
   font-weight: 400;
   letter-spacing: 0.846px;
   text-align: center;
   margin: auto 0;
   padding-top: 23px;
}

/* coding last footer end */